<h1>Rules#show</h1>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @rule.filter %>
      </h1>      
      <h1>
        <%= @rule.execution_order %>
      </h1>      
    </section>
  </aside>
</div>